.chat-popup {
    position: fixed;
    bottom: 0;
    right: 0px;
    z-index: 9;
  }

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    /*overflow-y: scroll;*/
    /*height: 250px;*/
}


#conversation {
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar {
    display: none;
    width: 0;
}


input::placeholder {
    color: #ccc;
    font-style: italic;
}

p.lexError {
    margin: 4px;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    text-align: right;
    min-width: 50%;
    max-width: 85%;
    float: right;
    background-color: #f77;
}

[data-letters]:before {
    content: attr(data-letters);
    display: inline-block;
    font-size: 1em;
    width: 3.5em;
    height: 3.5em;
    line-height: 3.5em;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1em;
    color: white;
}

[data-letters][data-type="ai"]:before {
    background:	#FA6F57;
}

[data-letters][data-type="st"]:before {
    background:	#55C1E7;
}
